 *{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.navbar {
    background: rgb(49, 48, 48);
    font-family: serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
.myclass {
    list-style: none;
    display: inline-block;
}
.myclass a{
    color: white;
    font-size: 19px;
    font-weight: bold;
    margin-right: 25px;
}
button a{
    color: white;
    font-weight: bolder;
}
button {
    border-radius: 100px;
    background-color: black;
}
html {
    background-color: black;
}
footer {
    position: absolute;
    background-color: rgb(36, 33, 33);
    width: 100%;
    height: 15vh;
    bottom: 0;
}
h2 {
    text-align: center;
    color: white;
}
