*{
    text-decoration: none;
}
.navbar {
    background: black;
    font-family: serif;
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}